name: 'transcribe-media'
on:
  issues:
    types:
      - opened
      - edited
  issue_comment:
    types:
      - created
      - edited
  pull_request:
    types:
      - opened
      - edited
  pull_request_review_comment:
    types:
      - created
      - edited
      
jobs:
  transcribe-media:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: ./
        id: transcribe-media
        name: "Run Transcribe Media"
        with:
          azure-cognitive-subscription-key: ${{ secrets.AZURE_COGNITIVE_SUBSCRIPTION_KEY }}
      - name: Dump output
        env:
          OUTPUTS: ${{ toJson(steps.transcribe-media.outputs) }}
        run: echo "$OUTPUTS"